@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
/* Modo Claro */
  --primary-light: #2D3AFE;
  --secondary-light: #00F7FF;
  --dark-light: #0A0B1E;
  --light-light: #F8F9FF;
  --accent1-light: #FF2E63;
  --accent2-light: #7B61FF;
  --success-light: #00FFA3;
  --error-light: #FF3B3B;
  --background-light: #FFFFFF;
  --text-light: #0A0B1E;

  /* Modo Oscuro */
  --primary-dark: #4B56FF;
  --secondary-dark: #33FFFF;
  --dark-dark: #000004;
  --light-dark: #F8F9FF;
  --accent1-dark: #FF4777;
  --accent2-dark: #9985FF;
  --success-dark: #33FFB6;
  --error-dark: #FF5252;
  --background-dark: #0A0B1E;
  --text-dark: #F8F9FF;

  /* Gradientes Modo Claro */
  --gradient1-light: linear-gradient(90deg, var(--primary-light), var(--secondary-light));
  --gradient2-light: linear-gradient(90deg, var(--accent1-light), var(--accent2-light));

  /* Gradientes Modo Oscuro */
  --gradient1-dark: linear-gradient(90deg, var(--primary-dark), var(--secondary-dark));
  --gradient2-dark: linear-gradient(90deg, var(--accent1-dark), var(--accent2-dark));
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: var(--primary-dark);
    --secondary: var(--secondary-dark);
    --dark: var(--dark-dark);
    --light: var(--light-dark);
    --accent1: var(--accent1-dark);
    --accent2: var(--accent2-dark);
    --success: var(--success-dark);
    --error: var(--error-dark);
    --background: var(--background-dark);
    --text: var(--text-dark);
    --gradient1: var(--gradient1-dark);
    --gradient2: var(--gradient2-dark);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --primary: var(--primary-light);
    --secondary: var(--secondary-light);
    --dark: var(--dark-light);
    --light: var(--light-light);
    --accent1: var(--accent1-light);
    --accent2: var(--accent2-light);
    --success: var(--success-light);
    --error: var(--error-light);
    --background: var(--background-light);
    --text: var(--text-light);
    --gradient1: var(--gradient1-light);
    --gradient2: var(--gradient2-light);
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}
